/* quitamos estilos por defecto del navegador con estilos globales */
*{
    box-sizing: border-box;/*es para especificar que todos los elementos del html utilicen este metodo para medir los elementos*/
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #ffffff;
    background-color: #09244c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23061ff5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* Navigation */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    padding: 20px 0;
}
.nav-img{
    width: 100px;
}
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a{
    padding: 5px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 50px;
}


/*Nos damos cuenta que utilizando la clase que se coloco a la lista (ul) da el 
mismo resultado por el momento lo dejamos como el tutorial pero vemos esa mejoria.*/
/* .nav-menu{
    display: flex;
} */
/* .nav-menu li{
    padding: 10px;
} */

/* SHOW CASE */
.showcase{
    width: 100%;
    height: 550px;
    background: url('./img/La\ forta.jpg') ;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    cursor: pointer;
}